AccessibilityTree(
    surfaces: [
        Surface(
            display_list: [
                Text(
                    // TODO: This bounding box is incorrect
                    aabb: ([100, 100], [200, 200]),
                    text: "Hello, world!",
                ),
            ],
        ),
    ],
)
